<ul>
  <% @snaps.reverse.each do |snap| %>
  <li>
  <p>Uploaded by <%= snap.user.username %></p>
  <%= snap.description %> <br>
  <a href=<%= show_detail_path(snap) %> id='snap-detail'> <%= image_tag snap.image.url(:medium) %>  </a>
  </li>
  <% end %>
</ul>